body {
    margin: 0px;
}

/* start de la barre*/
.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 7px;
}

.gmail {
    text-decoration: none;
    margin-right: 10px;
    color: black;
    margin-top: 10px;
}

.image {
    text-decoration: none;
    margin-right: 10px;
    color: black;
    margin-top: 10px;
}

.logo1 {
    margin-right: 10px;
    border-radius: 100%;
    margin-top: 10px;
    padding: 10px;

}

.logo1:hover{
    background-color: #F0F0F0;
}

.logo2 {
    text-decoration: none;
    margin-right: 10px;
    background-color:#1A73E8;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    width: 90px;
    height: 20px;
    text-align: center;

}

span {
    font-size: 18px;
    letter-spacing: .25px;
}

.logo2:hover {
    background: #1b66c9;
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);
}

/* fin de la barre*/
/* start de la box*/
.box {
    border: 0.1px solid black;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 26px;
    width: 520px;
    border: 0.5px solid gray;
    border-radius: 40px;
    z-index: 1;
}

.box:hover {
    box-shadow: 0px 0px 7px rgb(165, 162, 162);
}


.search {
    margin-left: 8px;
    width: 400px;
    height: 25px;
    border: none;
    outline: none;
    font-size: 15px;
}



.loup {
    float: left;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.micro {
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-google {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    padding-bottom: 250px;
}

/* fin de la box*/
/* start des buttons*/

.buttons {
    position: absolute;
    top: 180px;
    left: 620px;

}

.btn {
    background-color: #f8f9fa;
    margin-top: 150px;
    margin-right: 10px;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    z-index: -1;
    border: 1px solid rgba(255, 255, 255, 0);
}

.btn:hover {
    border: 1px solid gray;
}

/* fin des des buttons*/

.vide {
    flex-grow: 1;
}

.france {
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #202124;
    width: 100%;
    top: 88%;
    right: 0.px;
    border-bottom: 1px solid red;
}

p {
    font-size: 20px;
    margin-left: 25px;
}

.https1 {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 2em;
    justify-content: start;
}

.https2 {
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: end;
}

.papa {
    display: flex;
    border-top: 1px solid #E6E7E9;
    justify-content: space-around;
}

a {
    color: black;
    text-decoration: none;

}

footer {
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background-color: #F2F2F2;
}